<% layout('layouts/boilerplate') -%>

<%- include('../partials/flash') %>

<div class="row mt-4">
    <div class="col-12 col-lg-6 mb-4">
        <div class="card mx-auto shadow-sm" style="width: 19rem; border-radius: 12px;">
            <img src="<%= product.image %>" height="210px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= product.title %>
                </h5>
                <h6 class="fw-bold text-primary">
                    $ <%= product.price %>
                </h6>
                <p class="card-text text-muted" style="min-height: 60px;">
                    <%= product.description.length > 100 ? product.description.substring(0, 100) + '...' : product.description %>
                </p>
                <% if (user.role === 'buyer') { %>
                    <a id="buy-now-btn" productId="<%= product._id %>" class="btn btn-sm btn-primary">Buy Now</a>
                    <form class="d-inline" action="/cartItems/<%= product._id %>/add" method="post">
                        <button class="btn btn-sm btn-success">Add to Cart</button>
                    </form>
                <% } else { %>
                    <a href="/products/<%= product._id %>/edit" class="btn btn-sm btn-secondary">Edit</a>
                    <form class="d-inline" action="/products/<%= product._id %>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <h2 class="display-6">Reviews</h2>
        <% if (user.role === 'buyer') { %>
            <form class="w-100 mb-4" action="/products/<%= product._id %>/reviews" method="POST">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <textarea class="form-control mt-2" name="comment" rows="2" placeholder="Add your review here..."></textarea>
                <button class="btn btn-sm btn-success mt-3">Add Comment</button>
            </form>
        <% } %>

        <div class="w-100">
            <% if (product.reviews.length === 0) { %>
                <div class="alert alert-warning" role="alert">
                    No ratings yet.
                </div>
            <% } else { %>
                <% for (let review of product.reviews) { %>
                    <div class="card mt-3">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <p class="starability-result mb-0" data-rating="<%= review.rating %>"></p>
                            <% if (user.role === 'seller') { %>
                                <!-- No delete button for seller -->
                            <% } else { %>
                                <form action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <%= review.comment %>
                            </p>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<script src="/js/payment.js"></script>
